.font-shadows-into-light {
  font-family: "Shadows Into Light", cursive !important;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
}

.font-nothing-you-could-do {
  font-family: "Nothing You Could Do", cursive !important;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
}
  
.font-caveat {
  font-family: "Caveat", cursiv !important;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
}

.font-lavishly-yours {
  font-family: "Lavishly Yours", cursive !important;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
}

.font-bilbo {
  font-family: "Bilbo", cursive !important;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
}

.font-story-script {
  font-family: "Story Script", sans-serif !important;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
}

.font-crafty-girls {
  font-family: "Crafty Girls", cursive !important;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
}

.font-delius {
  font-family: "Delius", cursive !important;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
}